<div class="sidebar-nav">
    <ul class="nav flex-column">
        {% if subject %}
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'subject_learning' %}active{% endif %}" 
               href="{% url 'subject_learning' subject_id=subject.id %}">
                <i class="fas fa-list"></i> 章节
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'subject_exercise_logs' %}active{% endif %}" 
               href="{% url 'subject_exercise_logs' subject.id %}">
                <i class="fas fa-history"></i> 做题记录
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'personalized_recommendations' %}active{% endif %}" 
               href="{% url 'personalized_recommendations' subject_id=subject.id %}">
                <i class="fas fa-magic"></i> 个性化习题推荐
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'subject_favorites' %}active{% endif %}" 
               href="{% url 'subject_favorites' subject_id=subject.id %}">
                <i class="fas fa-star"></i> 我的收藏
            </a>
        </li>
        {% else %}
            {% if current_subject %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'subject_learning' %}active{% endif %}" 
                   href="{% url 'subject_learning' subject_id=current_subject.id %}">
                    <i class="fas fa-list"></i> 章节
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'subject_favorites' %}active{% endif %}" 
                   href="{% url 'subject_favorites' subject_id=current_subject.id %}">
                    <i class="fas fa-star"></i> 我的收藏
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'subject_exercise_logs' %}active{% endif %}" 
                   href="{% url 'subject_exercise_logs' current_subject.id %}">
                    <i class="fas fa-history"></i> 做题记录
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'personalized_recommendations' %}active{% endif %}" 
                   href="{% url 'personalized_recommendations' subject_id=current_subject.id %}">
                    <i class="fas fa-magic"></i> 个性化习题推荐
                </a>
            </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
